
*.LAPTOP-DAVE
*.pyc
*.out
*.out
*.out
*.out
Project/Output/mainline_eval.out
Project/Output/ramp_eval.out
*.out
Project/Output/ramp_eval.out
*.out
*.json
Project/Output/mainline_eval.out
Project/Output/ramp_eval.out
*.out
runs/checkpoint.pth
savednetwork/2019-02-28-16-17-28/checkpoint.pth
savednetwork/2019-03-01-07-35-59/checkpoint.pth
*.log
